<p>ruling works!</p>
<mat-card class="description">
    <h2>About 30% Ruling</h2>
    <p> The salary criteria for the <b>30% ruling</b> as per January 2022 are as follows:<br> </p>
    <ul> 
      <li>The salary amount does not matter if working with scientific research.</li> 
      <li>The annual taxable salary for an employee with a master’s degree and who is younger than 30 years, must be more than <b>EUR 30,001</b> (2021: EUR 29,616). </li> 
      <li>The annual taxable salary for other employees must be more than <b>EUR 39,647</b> (2021: EUR 38,961). </li> </ul> 
  </mat-card>